@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(mc-bg1.png);
    background-repeat: repeat-y;
}

/* NAVIGATION PANEL */
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: normal;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 4px;
    color: black;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0px 20px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .toggle-button {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* DROPDOWN MENU */
.dropdown-menu {
    position: absolute;
    right: 2rem;
    top: 75px;
    height: 0px;
    width: 300px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdown-menu.open{
    height: 130px;
    padding: 10px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* ABOUT BOX */
.about-banner {
    background:rgba(135, 29, 255, 1);
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

/* ADDONS TAB */
.addon-tab {
    margin-top: 20px;
    background: rgba(135, 29, 255, 0.5);
    border-radius: 10px;
    color: white;
    padding: 30px 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-rows: 100px min-content min-content min-content;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'header header' 'main aside' 'main2 aside2' 'main3 aside3';
    grid-auto-rows: 100%;
    grid-auto-flow: column;
    gap: 1em;
    backdrop-filter: blur(15px);
}

/* LABEL CATEGORY */
.type {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    width: 15%;
    text-align: center;
    margin: 5px;
}

.games {
    background-color: rgba(0, 255, 38, 0.5);
    border-radius: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    width: 15%;
    text-align: center;
    margin: 5px;
}

.addon-version {
    background-color: rgba(0, 217, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    width: 15%;
    text-align: center;
    margin: 5px;
}

.game-version {
    background-color: rgba(204, 0, 255, 0.5);
    border-radius: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    width: 15%;
    text-align: center;
    margin: 5px;
}

/* ADDONS LIST */
.the-fates-intertwined {
    grid-area: main;
    max-width: 100%;
    max-height: fit-content;
    background: rgba(192, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.the-fates-intertwined a {
    color: white;
    width: 100%;
    font-size:32px;
    text-decoration: none;
    font-weight: bold;
}

.exp-ui {
    grid-area: main2;
    max-width: 100%;
    max-height: fit-content;
    background: rgba(192, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.exp-ui a {
    color: white;
    width: 100%;
    font-size:32px;
    text-decoration: none;
    font-weight: bold;
}

.old-era-revival {
    grid-area: aside;
    max-width: 100%;
    max-height: fit-content;
    background: rgba(192, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.old-era-revival a {
    color: white;
    width: 100%;
    font-size:32px;
    text-decoration: none;
    font-weight: bold;
}

.legendary-weapons {
    grid-area: aside2;
    max-width: 100%;
    max-height: fit-content;
    background: rgba(192, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.legendary-weapons a {
    color: white;
    width: 100%;
    font-size:32px;
    text-decoration: none;
    font-weight: bold;
}

.legend-of-hex {
    grid-area: main3;
    max-width: 100%;
    max-height: fit-content;
    background: rgba(192, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.legend-of-hex a {
    color: white;
    width: 100%;
    font-size:32px;
    text-decoration: none;
    font-weight: bold;
}

.the-fates-intertwined-pic {
    max-width: 320px;
    max-height: 200px;
    aspect-ratio: 16/9;
}

/* BUTTONS */
.view-button {
    background-color: rgba(192, 122, 0, 0.7);
    width: 40%;
    color: #fff;
    border-radius: 15px;
    border-color: rgba(0,0,0,0);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.view-button:hover {
    background-color: rgb(255, 208, 0);
    color: #000;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px rgb(255, 208, 0);
}

.download-button {
    margin-left: 1%;
    background-color: rgba(0, 80, 192, 0.7);
    width: 40%;
    color: #fff;
    border-radius: 15px;
    border-color: rgba(0,0,0,0);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.download-button:hover {
    background-color: rgb(0, 128, 255);
    color: #000;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px rgb(0, 128, 255);
}

/* MEDIA QUERIES */
@media(max-width: 992px){
    .navbar .links {
        display: none;
    }

    .navbar .toggle-button {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width: 840px){
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .addon-tab {
        margin-top: 20px;
        background: rgba(135, 29, 255, 0.5);
        border-radius: 10px;
        color: white;
        border: 2px solid rgba(125, 125, 125, 1);
        padding: 30px 30px;
        margin-left: 40px;
        margin-right: 40px;
        display: grid;
        grid-template-rows: 100px min-content min-content min-content min-content min-content;
        grid-template-columns: 100%;
        grid-template-areas: 'header' 'row1' 'row2' 'row3' 'row4' 'row5' 'row6';
        grid-auto-rows: 100%;
        grid-auto-flow: column;
        gap: 1em;
    }

    .the-fates-intertwined {
        grid-area: row1;
    }

    .old-era-revival {
        grid-area: row2;
    }

    .exp-ui {
        grid-area: row3;
    }

    .legendary-weapons {
        grid-area: row4;
    }

    .legend-of-hex {
        grid-area: row5;
    }

    .the-fates-intertwined-pic {
        max-width: 280px;
        max-height: 140px;
        aspect-ratio: 16/9;
    }
}