body {
    background-image: url('mc-bg.webp') no-repeat;
    background-size: cover;
    background-position: center;
}

.about-banner {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color:blueviolet;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 100px 100px;
}

.about-banner h1 {
    font-family: Helvetica;
    font-size: 48px;
    color: #fff;
}