@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}
body {
    background-image: url('mc-bg2.png');
    background-size:cover;
    height: 100vh;
    background-position: center;
    background-repeat: repeat-y;
}

.navbar {
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
    padding: 25px 25px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(77, 77, 77, 0.8);
}

.logo {
    width: 100px;
    height: 100px;
    cursor:normal;
    image-rendering: optimizeQuality;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgba(106, 90, 205, 1);
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover:after {
    width: 100%;
    transition: 0.3s;
}

.about-banner {
    background-color: rgba(106, 90, 205, 0.4);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px 40px;
    transition: 0.3s;
}

.about-banner:hover {
    background-color: rgba(106, 90, 205, 1);
    box-shadow: 0 0 14px 0 rgba(106, 90, 205, 1);
    transition: 0.3s;
}

.about-banner h1 {
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    color: #fff;
}

.about-banner p {
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: last baseline;
    align-items: last baseline;
}

.addon-tab {
    margin-top: 2%;
    background-color: rgba(106, 90, 205, 0.4);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.addon-tab h1 {
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    color: #fff;
    align-self: flex-start;
}

.addon-box {
    background-color: rgba(255, 61, 61, 0.6);
    border-radius: 20px;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    height: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    transition: 0.3s;
    float:left;
    box-sizing: border-box;
}

.addon-box:hover {
    background-color: rgba(255, 61, 61, 1);
    box-shadow: 0 0 14px 0px rgba(255, 61, 61, 1);
    transition: 0.3s;
}

.addon-box a {
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    color: #000;
    margin-left: 1%;
    font-weight: bold;
    text-decoration:none;
}

.texture-box {
    background-color: rgba(0, 153, 255, 0.6);
    border-radius: 20px;
    width: 100%;
    min-width: 320px;
    max-width: 720px;
    height: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    transition: 0.3s;
    float:left;
    box-sizing: border-box;
}

.texture-box:hover {
    background-color: rgba(0, 153, 255, 1);
    box-shadow: 0 0 14px 0px rgba(0, 153, 255, 1);
    transition: 0.3s;
}

.texture-box a {
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    color: #000;
    margin-left: 1%;
    font-weight: bold;
    text-decoration:none;
}

.the-fates-intertwined-pic {
    width: 240px;
    height: 150px;
    aspect-ratio: 16/9;
}

.view-button {
    background-color: rgb(255, 161, 214);
    color: #fff;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 4px;
    text-decoration:double;
    font-size: 20px;
    margin-top: 1%;
    transition: 0.3s;
}

.view-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: 0 0 6px 0 rgb(255, 255, 255);
    transition: 0.3s;
}

.view-button:active {
    background-color: rgb(255, 161, 214);
    color: #000;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: 0.3s;
}

.download-button {
    background-color: rgb(255, 161, 214);
    color: #fff;
    border: 0px solid #fff;
    border-radius: 4px;
    padding: 4px;
    text-decoration:double;
    font-size: 20px;
    margin-top: 1%;
    transition: 0.3s;
}

.download-button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
    box-shadow: 0 0 6px 0 rgb(255, 255, 255);
    transition: 0.3s;
}

.download-button:active {
    background-color: rgb(255, 161, 214);
    color: #000;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: 0.3s;
}