body {
    background-image: url('mc-bg.webp');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.about-banner {
    background-color:blueviolet;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 100px 100px;
}

.about-banner h1 {
    font-family: Helvetica;
    font-size: 48px;
    color: #fff;
}

.about-banner p {
    font-family: 'Century Gothic';
    font-size: 20px;
    display: flex;
    justify-content: end;
}